<mat-toolbar color="primary" class="flex-menu">
  <div class="titulo-container">
    <mat-icon>menu_book</mat-icon>
    <h2 class="titulo-aplicacao">Esse eu já li!</h2>
  </div>
  <span class="flex-menu-spacer"></span>
  <nav>
    <button mat-button routerLink="livros">Livros</button>
    <button mat-button routerLink="cliente/ranking">Ranking</button>
    <button mat-button routerLink="cliente">Página Pessoal</button>
    <button mat-button routerLink="login">Sair</button>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>
