/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --dark-bg: rgb(48, 48, 48);
  --text-light: rgb(255, 255, 255);
}

body {
  background-color: var(--dark-bg);
  color: var(--text-light);

  box-sizing: border-box;
}